body {
  margin: 0;
  padding: 0.5;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #213067;
  padding: 10px;
  /* height: 66px;  */
  /* max-height: 74px;  */
}

/* Navigation */

.heading {
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 1rem; /* There should be 128px of space between the content and both the header and footer. */
  padding-bottom: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  text-align: center;
}

nav {
  justify-content: left;
  display: flex;
}

nav a {
  font-weight: bold;
  color: darkgrey;
  margin-right: 2rem;
  padding: 10px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: white;
}

nav a.active {
  color: white;
  font-weight: bold;
}

nav .account {
  justify-content: right;
  display: flex;
  float: right;
  text-align: right;
}

#page-container {
  min-height: 100vh;
  position: relative;
}

#content-wrap {
  padding-bottom: 48px; /* Adjust padding to accommodate the footer height */
}

.main {
  text-align: center;
  padding-top: 2rem; /* There should be 128px of space between the content and both the header and footer. */
  padding-bottom: 2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  align-items: center;
  justify-content: center;
}

table {
  min-width: 60%;
  display: inline-table;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #333;
  padding: 8px;
  text-align: center;
  width: 100px;
}

th {
  color: #75999f;
  background-color: #333;
  width: 100px;
}

/* form */

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display:inline-block;
}

h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-switch {
  margin-top: 10px;
  text-align: center;
}

.form-switch a {
  text-decoration: none;
  color:#213067;
}

.form-switch a:hover {
  text-decoration: underline;
}

button {
  background-color: #333;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background-color: #75999f;
}

/* contact email */
#contact-email {
  font-family: "Times New Roman", Times, serif;
  color: black;
}

/* footer */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  color: white;
  background-color: #213067;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle{
  height: 50px;
  width: 100%;
  border-radius: 15px;
  background-color: grey;
  color: white;
  align-items: center;
  display: flex;
}

.square {
  height: 600px;
  width: 85%;
  display: flex;
  align-items: center;
  background-color: black;
}

.main2{
  text-align: center;
  padding-top: 2rem; 
  padding-bottom: 2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Enter_Meeting_Name{
  padding-left: 20px;
  font-size: 20px;
  display: flex;
}

.form{
  color: black;
  text-align: center;
  padding-top: 2rem; 
  padding-bottom: 2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  align-items: center;
  justify-content: right;
  display: flex;
}

.month{
  color: black;
}

.square_left, .square_right{
  background-color: white;
  height: 400px;
  flex: 1;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 2%;
  padding: 50px;
  width: 800%;
}

.square2 {
  height: 35px;
  width: 35px;
  border-radius: 10px;
  align-items: left;
  background-color: green;
  margin-left: 10px;
  margin-right: 0px;
}